.container{
    display: "flex";
    flex-direction: column;
    background:#fafafa;
    justify-content: center;
    margin-left: 650px;
    text-align: center;
}
.header{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:9px;
    width:100%;
}
.text{
    color:#613beb;
    font-size:80px;
    font-weight:700;
    text-align: center;
}
.underline{
    width:90px;
    height:10px;
    background:#613beb;
    border-radius:9px;
}
.logininputs{
    margin-top:55px;
    display:flex;
    flex-direction:column;
    gap:25px;
}
.logininput{
    display:flex;
    justify-content: center;
    align-items:center;
    margin:auto;
    width: 480px;
    height: 80px;
    background:#f0edef;
    border-radius:6px;
}
.logininput img{
    margin: 0px 30px;
}
.logininput input{
    height: 50px;
    width:400px;
    background: transparent;
    border:none;
    outline: none;
    color:rgb(90, 170, 240);
    font-size:19px;
}
