.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: rgb(4, 4, 37);
  color: rgb(241, 186, 6);
  text-align: center;
  font-size: 15px;
}




